<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body class="container">
    <% include ./partials/navBar.ejs %>

    <div class="jumbotron">
        <h3>Chores List</h3>
        <p>All of the chores are listed below in their respective groups. Select a chore to modify it or see more details.</p>
    </div>
    <% groups.forEach((group) => { %>
    <% include ./partials/choreTable.ejs %>
    <% }); %>
    <% include ./partials/scripts.ejs %>
</body>

</html>