<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body class="container">
    <h1>Chores List</h1>
    <hr>
    <% groups.forEach((group) => { %>
        <h3><%= group.name %></h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% chores.forEach((chore) => { if (chore.GroupId === group.id) { %>
                    <tr>
                        <td><%= chore.name %></td>
                        <td><%= chore.assignee %></td>
                        <td><%= chore.status ? 'Complete' : 'Incomplete' %></td>
                    </tr>
                <% } }); %>
            </tbody>
        </table>
    <% }); %>
</body>

</html>