<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body class="container">
    <% include ./partials/navBar.ejs %>

    <div class="jumbotron">
        <h3>New Chore for
            <%= group.name %>
        </h3>
    </div>
    <% include ./partials/scripts.ejs %>
</body>

</html>