<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body class="container">
    <% include ./partials/navBar.ejs %>

    <div class="jumbotron">
        <h3>Chore Groups</h3>
        <p>Chores are split between the groups listed below. Select one to view the chores in that group.</p>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            <% groups.forEach((group) => { %>
            <li class="list-group-item">
                <% include ./partials/groupHeader.ejs %>
            </li>
            <% }); %>
        </ul>
    </div>
    <% include ./partials/scripts.ejs %>
</body>

</html>